
.background{
    width: 100%;
    height: 100vh;
    background-image:url(cat\ bg.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
}

#box1{
    border: 1px solid;
    height: 400px;
    width: 500px;
    background: rgb(245, 245, 245);
    position:relative;
    top: 100px;
    left: 400px;
}
h1{
    border: 3px solid;
    position: relative;
    left:188px;
    display: inline-block;
    background: violet;
}
.gif{
    height:230px ;
    width: 230px;
    position: absolute;
    top: 50px ;
}
h2{
    font-size: large;
    left: 160px;
    top: 80px;
    position: absolute;
    
}

#bt2{
    font-size: 50px;
    left: 150px;
    bottom: 30px;
    position: absolute;
    background: plum;
    border-radius: 80%;
    cursor: pointer;
}
.popup{
    background: rgb(225, 181, 236);
    width: 45%;
    height: 65%;
    position:absolute;
    top: 100px;
    left: 400px;
    display: none;
    justify-content: center;
    align-items: center;

}
.popup-content{
    height: 320px;
    width: 400px;
    background: rgba(255, 255, 255, 0.425);
    border-radius: 5px;
    padding: 20px;
    position: relative;
}
.close{
    width: 25px;
    height: 25px;
    position: absolute;
    left: 560px;
    top:1px;
    border-radius: 50%;
    cursor: pointer;
   
}
#bt3{
    font-size: 40px;
    left: 100px;
    bottom: 30px;
    position: absolute;
    background: plum;
    border-radius: 80%;
    cursor: pointer;
}

#bt4{
    font-size: 40px;
    left: 250px;
    bottom: 30px;
    position: absolute;
    background: plum;
    border-radius: 80%;
    cursor: pointer;
}

h3{
    font-size: 23px;
    left: 45px;
    position: absolute;
}
h4{
    font-size: 23px;
    left: 65px;
    position: absolute;
    top: 60px;
}

h5{
    font-size: 23px;
    left: 105px;
    position: absolute;
    top: 90px;

}
h6{
    font-size: 23px;
    left: 125px;
    position: absolute;
    top: 150px;
}

h7{
    font-size: 23px;
    left: 160px;
    position: absolute;
    top: 240px;
}
.emoji{
    height: 50px;
    width: 90px;
    position: absolute;
    bottom: 80px;
    left: 260px;
}
.hicat{
    height: 120px;
    width: 120px;
    top:1px;
    left: 1px;
    position: absolute;
}

.popup2{
    background: lightblue;
    width: 65%;
    height: 75%;
    position:absolute;
    top: 60px;
    left: 300px;
    display: none;
    justify-content: center;
    align-items: center;
    background-image:url(aebg.png);
    background-size: cover;
    background-position: center;
}



.pic1{
    width: 250px;
    height: 250px;
    position: absolute;
    display: none;
    left: 280px;
    top: 10px;
    justify-content: center;
    align-items: center;
}
.pic2{
    width: 250px;
    height: 250px;
    position: absolute;
    left:20px;
    top: 10px;
    display: none;
    justify-content: center;
    align-items: center;

}
.pic3{
    width: 250px;
    height: 250px;
    position: absolute;
    left:540px;
    top: 10px;
    display: none;
    justify-content: center;
    align-items: center;

}
.play{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 270px;
    bottom: 50px;
    cursor: pointer; 
}

#btn{
    font-size: 40px;
    left: 320px;
    bottom: 30px;
    position: absolute;
    background: plum;
    border-radius: 80%;
    cursor: pointer;
}

.popup3{
    height: 100px;
    width: 800px;
    background: rgba(245, 245, 245, 0);
    position:absolute;
    top: 300px;
    left: 220px;
    display: none;
    font-size: 20px;

}
.wink{
    height: 80px;
    width: 90px;
    position: absolute;
    bottom: 1px;
    left: 290px;  
}

.close2{
    width: 25px;
    height: 25px;
    position: absolute;
    left: 810px;
    top:1px;
    border-radius: 50%;
    cursor: pointer;
}

.popup4{
    background: lightblue;
    width: 65%;
    height: 75%;
    position:absolute;
    top: 60px;
    left: 300px;
    display: none;
    justify-content: center;
    align-items: center;
    background-image:url(ian\ letter.png);
    background-size: cover;
    background-position: center;
}

.ghug{
    height: 220px;
    width: 220px;
    top:1px;
    left: 500px;
    position: absolute;
}
.close3{
    width: 25px;
    height: 25px;
    position: absolute;
    left: 810px;
    top:1px;
    border-radius: 50%;
    cursor: pointer;
}

@media (max-device-width: 430px )
{
    .background{
        width: 100%;
        height: 100vh;
        background-image:url(cat\ bg.jpg);
        background-size: cover;
        background-position: center;
        position: absolute;
    }
    
    #box1{
        border: 1px solid;
        height: 700px;
        width: 800px;
        background: rgb(245, 245, 245);
        position:relative;
        top: 300px;
        left: 100px;
    }
    h1{
        border: 3px solid;
        position: relative;
        left:280px;
        display: inline-block;
        background: violet;
        font-size: 55px;
    }
    .gif{
        height:370px ;
        width: 370px;
        position: absolute;
        top: 100px ;
        left:220px;
    }
    h2{
        font-size: 35px;
        left: 200px;
        top: 105px;
        position: absolute;
        
    }
    
    #bt2{
        font-size: 80px;
        left: 240px;
        bottom: 80px;
        position: absolute;
        background: plum;
        border-radius: 80%;
        cursor: pointer;
    }
    .popup{
        background: rgb(225, 181, 236);
        width: 810px;
        height: 800px;
        position:absolute;
        top: 250px;
        left: 100px;
        display: none;
        justify-content: center;
        align-items: center;
    
    }
    .popup-content{
        height: 550px;
        width: 600px;
        background: rgba(255, 255, 255, 0.425);
        border-radius: 5px;
        padding: 20px;
        position: relative;
    }
    .close{
        width: 35px;
        height: 35px;
        position: absolute;
        left: 800px;
        top:1px;
        border-radius: 50%;
        cursor: pointer;
       
    }
    #bt3{
        font-size: 60px;
        left: 120px;
        bottom: 30px;
        position: absolute;
        background: plum;
        border-radius: 80%;
        cursor: pointer;
    }
    
    #bt4{
        font-size: 60px;
        left: 350px;
        bottom: 30px;
        position: absolute;
        background: plum;
        border-radius: 80%;
        cursor: pointer;
    }
    
    h3{
        font-size: 35px;
        left: 45px;
        position: absolute;
    }
    h4{
        font-size: 40px;
        left: 35px;
        position: absolute;
        top: 60px;
    }
    
    h5{
        font-size: 45px;
        left: 95px;
        position: absolute;
        top: 100px;
    
    }
    h6{
        font-size: 50px;
        left: 125px;
        position: absolute;
        top: 240px;
    }
    
    h7{
        font-size: 50px;
        left: 200px;
        position: absolute;
        top: 410px;
    }
    .emoji{
        height: 90px;
        width: 165px;
        position: absolute;
        bottom: 90px;
        left: 430px;
    }
    .hicat{
        height: 120px;
        width: 120px;
        top:1px;
        left: 1px;
        position: absolute;
    }
    
    .popup2{
        background: lightblue;
        width: 850px;
        height: 820px;
        position:absolute;
        top: 250px;
        left: 90px;
        display: none;
        justify-content: center;
        align-items: center;
        background-image:url(aebg.png);
        background-size: cover;
        background-position: center;
    }
    
    
    
    .pic1{
        width: 280px;
        height: 300px;
        position: absolute;
        display: none;
        left: 290px;
        top: 10px;
        justify-content: center;
        align-items: center;
    }
    .pic2{
        width: 270px;
        height: 300px;
        position: absolute;
        left:10px;
        top: 10px;
        display: none;
        justify-content: center;
        align-items: center;
    
    }
    .pic3{
        width: 270px;
        height: 300px;
        position: absolute;
        left:580px;
        top: 10px;
        display: none;
        justify-content: center;
        align-items: center;
    
    }
    .play{
        width: 20px;
        height: 20px;
        position: absolute;
        left: 270px;
        bottom: 50px;
        cursor: pointer; 
    }
    
    #btn{
        font-size: 110px;
        left: 250px;
        bottom: 50px;
        position: absolute;
        background: plum;
        border-radius: 80%;
        cursor: pointer;
    }
    
    .popup3{
        height: 400px;
        width: 700px;
        background: rgba(245, 245, 245, 0);
        position:absolute;
        top: 340px;
        left: 80px;
        display: none;
        font-size: 40px;
    
    }
    .wink{
        height: 110px;
        width: 110px;
        position: absolute;
        bottom: 160px;
        left: 510px;  
    }
    
    .close2{
        width: 35px;
        height: 35px;
        position: absolute;
        left: 820px;
        top:1px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .popup4{
        background: lightblue;
        width: 850px;
        height: 850px;
        position:absolute;
        top: 220px;
        left: 90px;
        display: none;
        justify-content: center;
        align-items: center;
        background-image:url(ian\ letter.png);
        background-size: cover;
        background-position: center;
    }
    
    .ghug{
        height: 350px;
        width: 350px;
        top:1px;
        left: 500px;
        position: absolute;
    }
    .close3{
        width: 35px;
        height: 35px;
        position: absolute;
        left: 810px;
        top:1px;
        border-radius: 50%;
        cursor: pointer;
    }
}

@media (max-device-width: 375px )
{
    .background{
        width: 100%;
        height: 100vh;
        background-image:url(cat\ bg.jpg);
        background-size: cover;
        background-position: center;
        position: absolute;
    }
    
    #box1{
        border: 1px solid;
        height: 700px;
        width: 800px;
        background: rgb(245, 245, 245);
        position:relative;
        top: 300px;
        left: 100px;
    }
    h1{
        border: 3px solid;
        position: relative;
        left:280px;
        display: inline-block;
        background: violet;
        font-size: 55px;
    }
    .gif{
        height:370px ;
        width: 370px;
        position: absolute;
        top: 100px ;
        left:220px;
    }
    h2{
        font-size: 35px;
        left: 200px;
        top: 105px;
        position: absolute;
        
    }
    
    #bt2{
        font-size: 80px;
        left: 240px;
        bottom: 80px;
        position: absolute;
        background: plum;
        border-radius: 80%;
        cursor: pointer;
    }
    .popup{
        background: rgb(225, 181, 236);
        width: 810px;
        height: 800px;
        position:absolute;
        top: 250px;
        left: 100px;
        display: none;
        justify-content: center;
        align-items: center;
    
    }
    .popup-content{
        height: 550px;
        width: 600px;
        background: rgba(255, 255, 255, 0.425);
        border-radius: 5px;
        padding: 20px;
        position: relative;
    }
    .close{
        width: 35px;
        height: 35px;
        position: absolute;
        left: 800px;
        top:1px;
        border-radius: 50%;
        cursor: pointer;
       
    }
    #bt3{
        font-size: 60px;
        left: 120px;
        bottom: 30px;
        position: absolute;
        background: plum;
        border-radius: 80%;
        cursor: pointer;
    }
    
    #bt4{
        font-size: 60px;
        left: 350px;
        bottom: 30px;
        position: absolute;
        background: plum;
        border-radius: 80%;
        cursor: pointer;
    }
    
    h3{
        font-size: 35px;
        left: 45px;
        position: absolute;
    }
    h4{
        font-size: 40px;
        left: 35px;
        position: absolute;
        top: 60px;
    }
    
    h5{
        font-size: 45px;
        left: 95px;
        position: absolute;
        top: 100px;
    
    }
    h6{
        font-size: 50px;
        left: 125px;
        position: absolute;
        top: 240px;
    }
    
    h7{
        font-size: 50px;
        left: 200px;
        position: absolute;
        top: 410px;
    }
    .emoji{
        height: 90px;
        width: 165px;
        position: absolute;
        bottom: 90px;
        left: 430px;
    }
    .hicat{
        height: 120px;
        width: 120px;
        top:1px;
        left: 1px;
        position: absolute;
    }
    
    .popup2{
        background: lightblue;
        width: 850px;
        height: 820px;
        position:absolute;
        top: 250px;
        left: 90px;
        display: none;
        justify-content: center;
        align-items: center;
        background-image:url(aebg.png);
        background-size: cover;
        background-position: center;
    }
    
    
    
    .pic1{
        width: 280px;
        height: 300px;
        position: absolute;
        display: none;
        left: 290px;
        top: 10px;
        justify-content: center;
        align-items: center;
    }
    .pic2{
        width: 270px;
        height: 300px;
        position: absolute;
        left:10px;
        top: 10px;
        display: none;
        justify-content: center;
        align-items: center;
    
    }
    .pic3{
        width: 270px;
        height: 300px;
        position: absolute;
        left:580px;
        top: 10px;
        display: none;
        justify-content: center;
        align-items: center;
    
    }
    .play{
        width: 20px;
        height: 20px;
        position: absolute;
        left: 270px;
        bottom: 50px;
        cursor: pointer; 
    }
    
    #btn{
        font-size: 110px;
        left: 250px;
        bottom: 50px;
        position: absolute;
        background: plum;
        border-radius: 80%;
        cursor: pointer;
    }
    
    .popup3{
        height: 400px;
        width: 700px;
        background: rgba(245, 245, 245, 0);
        position:absolute;
        top: 340px;
        left: 80px;
        display: none;
        font-size: 40px;
    
    }
    .wink{
        height: 110px;
        width: 110px;
        position: absolute;
        bottom: 160px;
        left: 510px;  
    }
    
    .close2{
        width: 35px;
        height: 35px;
        position: absolute;
        left: 820px;
        top:1px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .popup4{
        background: lightblue;
        width: 850px;
        height: 850px;
        position:absolute;
        top: 220px;
        left: 90px;
        display: none;
        justify-content: center;
        align-items: center;
        background-image:url(ian\ letter.png);
        background-size: cover;
        background-position: center;
    }
    
    .ghug{
        height: 350px;
        width: 350px;
        top:1px;
        left: 500px;
        position: absolute;
    }
    .close3{
        width: 35px;
        height: 35px;
        position: absolute;
        left: 810px;
        top:1px;
        border-radius: 50%;
        cursor: pointer;
    }
}